server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://db-authors:5432/authorsdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
